
:root {
  --dark-navy: #1F354B;
  --navy: #294461;
  --green: #11C684;
  --purple: #6B74E0;
  --pink: #F878B5;
  --blue: #0671D5;
  --yellow: #F7BF31;
  --light-blue: #6CDFEF;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 375px;
}

body {
  background-color: var(--dark-navy);
  color: white;
  margin: 1em;
  height: 100vh;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color:white;
}

header {
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 1.25rem;
}

.toggle {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 1.25rem;
}

.home-section {
  margin-bottom: 40em;
}

.phase-two, .phase-three, .quiz-button  {
    border-radius: 16px;
    width: 200px;
    height: 130px;
    margin: 2em auto;
    padding: 1em;
    display: flex;
    transition: all .2s ease-in-out;
}


.phase-two:hover, .phase-three:hover, .quiz-button:hover  {
  transform: scale(1.1);
}

.phase-two {
    background-color: var(--green);
}

.phase-three {
  background-color: var(--purple);
}

.quiz-button {
  background-color: var(--pink);
}

.dove, .feather {
  font-size: 3.5rem;
  margin-top: auto;
}

/* ============== PHASE TWO ============= */

.sound-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  gap: 0.75em;
  width: 200px;
}

.sound {
  background-color: var(--pink);
  border-radius: 16px;
  width: 28%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding:  6px 10px;
  cursor: pointer;
}

.sound p {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.sound-icon {
  width: 30px; 
  padding: 6px 0;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 4em;
}

/* ============== PHASE TWO QUIZ ============= */

.quiz-image-container {
  width: 200px;
  height: 200px;
  background-color: var(--pink);
  border-radius: 16px;
}

.quiz-image {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto 1em;
  gap: 0.75em;
  width: 200px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  gap: 0.75em;
  width: 200px;
}

.next-btn {
  background-color: white;
  padding: 0.75em 2em;
  border: none;
  border-radius: 16px;
  font-weight: 600;
  font-size: 1.125rem;
  transition: all .2s ease-in-out;
}

.next-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.well-done {
 text-align: center;
 margin-top: 2em;
 font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.well-done-icon {
  font-size: 8rem;
}

.animate-beat {
  animation: heartbeat 2s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.quiz-tip {
  display: block;
  font-size: 1.125rem;
  margin-bottom: 1em;
}

